
# PlanAhead Generated physical constraints 

NET "BCDin[0]" LOC = P22;
NET "BCDin[1]" LOC = P21;
NET "BCDin[2]" LOC = P17;
NET "BCDin[3]" LOC = P16;

NET "digit[0]" LOC = P127;
NET "digit[1]" LOC = P131;
NET "digit[2]" LOC = P132;
NET "digit[3]" LOC = P133;

NET "Seven_Segment[0]" LOC = P134;
NET "Seven_Segment[1]" LOC = P137;
NET "Seven_Segment[2]" LOC = P138;
NET "Seven_Segment[3]" LOC = P139;
NET "Seven_Segment[4]" LOC = P140;
NET "Seven_Segment[5]" LOC = P141;
NET "Seven_Segment[6]" LOC = P142;
NET "Seven_Segment[7]" LOC = P143;
