NET "sw<0>" LOC = p22;
NET "sw<1>" LOC = p21;
NET "sw<2>" LOC = p17;
NET "sw<3>" LOC = p16;
NET "sw<4>" LOC = p15;
NET "sw<5>" LOC = p14;
NET "sw<6>" LOC = p12;
NET "sw<7>" LOC = p11;
NET "sw<8>" LOC = p10;
NET "sw<9>" LOC = p9;
NET "sw<10>" LOC = p8;
NET "sw<11>" LOC = p7;
NET "sw<12>" LOC = p6;
NET "sw<13>" LOC = p5;
NET "sw<14>" LOC = p2;
NET "sw<15>" LOC = p1;
NET "led<0>" LOC = p33;
NET "led<1>" LOC = p32;
NET "led<2>" LOC = p30;
NET "led<3>" LOC = p29;
NET "led<4>" LOC = p27;
NET "led<5>" LOC = p26;
NET "led<6>" LOC = p24;
NET "led<7>" LOC = p23;
NET "led<8>" LOC = p138;
NET "led<9>" LOC = p143;
NET "led<10>" LOC = p142;
NET "led<11>" LOC = p137;
NET "led<12>" LOC = p141;
NET "led<13>" LOC = p134;
NET "led<14>" LOC = p140;
NET "led<15>" LOC = p139;

